@model List<Story>

<main id="site__main" class="2xl:ml-[--w-side] xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">
    <div id="js-oversized" class="lg:flex 2xl:gap-16 gap-12 max-w-[1065px] mx-auto">
        <div class="max-w-[680px] mx-auto">

            @* Stories *@
            @await Component.InvokeAsync("Stories")

        </div>
    </div>
</main>
<partial name="Modals/_CreateStory" model="new StoryVM()" />